<%-include('partials/header.ejs')%>
<%-include('partials/navBar.ejs')%>
<body>
    <header>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastro de Anúncios</h1>
                </div>
                <div class="card-body">
                    <form method="post" action="/advert"> 
                        <div class="mb-3">
                          <label class="form-label">Anúncio</label>
                          <input type="text" class="form-control" name="announce" placeholder="Nome do Anúncio" >
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Cliente</label>
                          <input type="text" class="form-control" name="name" placeholder="Nome do Cliente" >
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Data de início</label>
                            <div class="input-group date">
                              <input type="text" id="data-pagamento" name="dateStart"
                                     placeholder="dd/mm/yyyy"
                                     class="form-control"/>
                              <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-th"></span>
                              </div>
                          </div>
                          </div>
                          <div class="mb-3">
                            <label  class="form-label">Data de término</label>
                            <div class="input-group date">
                              <input type="text" id="data-pagamento" name="dateEnd"
                                     placeholder="dd/mm/yyyy"
                                     class="form-control"/>
                              <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-th"></span>
                              </div>
                          </div>
                          </div>
                          <div class="mb-3">
                            <label  class="form-label">Investimento por dia</label>
                            <input type="text" class="form-control" name="valueInvested" placeholder="R$" >
                          </div>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                      </form>
                </div>
            </div>
        </div>
    </header>
    
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin pro Datapicker novo -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js'></script>
<script>
$('.input-group.date').datepicker({format: "dd/mm/yyyy"});
</script>
</body>
<%-include('partials/footer.ejs')%>